@page "/hotels/create"

@inject HttpClient _httpClient
@inject NavigationManager uriHelper

<h3>Create</h3>
<HotelForm ButtonText="Create" hotel="@hotel"
           OnValidSubmit="@CreateHotel" />

@code {
	[CascadingParameter]
	public string provider { get; set; }
    HotelDTO hotel = new HotelDTO();

    async Task CreateHotel()
    {
        await _httpClient.PostAsJsonAsync($"https://localhost:44445/Hotels?provider={provider}", hotel);
        uriHelper.NavigateTo("hotels");
    }
}