@page "/passes/edit/{passId:int}"
@inject HttpClient _httpClient
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Update</h3>
<PassForm ButtonText="Update" pass="@pass"
           OnValidSubmit="@EditPass" />

@code {
    [Parameter] public int passId { get; set; }
    PassInputDTO pass = new PassInputDTO();

    protected async override Task OnParametersSetAsync()
    {
        pass = await _httpClient.GetFromJsonAsync<PassInputDTO>($"https://localhost:44378/Passes/{passId}");
    }

    async Task EditPass()
    {
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to update record {pass.Id}?"))
        {
            await _httpClient.PutAsJsonAsync($"https://localhost:44378/Passes/{passId}", pass);
            await js.InvokeVoidAsync("alert", $"Updated Successfully!");
            uriHelper.NavigateTo("passes");
        }
    }
}
