@page "/tours/create"

@inject HttpClient _httpClient
@inject NavigationManager uriHelper

<h3>Create</h3>
<TourForm ButtonText="Create" tour="@tour"
          OnValidSubmit="@CreateTour" />

@code {
	[CascadingParameter]
	public string provider { get; set; }
    TourDTO tour = new TourDTO();

    async Task CreateTour()
    {
        await _httpClient.PostAsJsonAsync(string.Format(provider, "Tours"), tour);
        uriHelper.NavigateTo("tours");
    }
}
