@page "/tours/edit/{tourId:int}"

@inject HttpClient _httpClient
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Update</h3>
<TourForm ButtonText="Update" tour="@tour"
           OnValidSubmit="@EditTour" />

@code {
	[CascadingParameter]
	public string provider { get; set; }
    [Parameter] public int tourId { get; set; }
    TourDTO tour = new TourDTO();

    protected async override Task OnParametersSetAsync()
    {
        tour = await _httpClient.GetFromJsonAsync<TourDTO>(string.Format(provider, $"Tours/{tourId}"));
    }

    async Task EditTour()
    {
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to update record {tour.Id}?"))
        {
            var response = await _httpClient.PutAsJsonAsync(string.Format(provider, $"Tours/{tourId}"), tour);
            if (response.IsSuccessStatusCode)
            {
                uriHelper.NavigateTo("tours");
            }
            else
            {
                await js.InvokeVoidAsync("alert", await response.Content.ReadAsStringAsync());
            }
        }
    }
}
