<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">TravelCompany</a>
</div>

<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cities">
                <span class="oi oi-home" aria-hidden="true"></span> Cities
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="clients">
                <span class="oi oi-people" aria-hidden="true"></span> Clients
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="climates">
                <span class="oi oi-cloud" aria-hidden="true"></span> Climates
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="countries">
                <span class="oi oi-flag" aria-hidden="true"></span> Countries
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="discounts">
                <span class="oi oi-dollar" aria-hidden="true"></span> Discounts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="hotels">
                <span class="oi oi-header" aria-hidden="true"></span> Hotels
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tours">
                <span class="oi oi-cart" aria-hidden="true"></span> Tours
            </NavLink>
        </li>
    </ul>
</div>
