@page "/passes/create"

@inject HttpClient _httpClient
@inject NavigationManager uriHelper

<h3>Create</h3>
<PassForm ButtonText="Create" pass="@pass"
          OnValidSubmit="@CreatePass" />

@code {
	[CascadingParameter]
	public string provider { get; set; }
    PassInputDTO pass = new PassInputDTO();

    async Task CreatePass()
    {
        await _httpClient.PostAsJsonAsync($"https://localhost:44445/Passes?provider={provider}", pass);
        uriHelper.NavigateTo("passes");
    }
}
