@page "/cities/edit/{cityId:int}"

@inject HttpClient _httpClient
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Update</h3>
<CityForm ButtonText="Update" city="@city"
      OnValidSubmit="@EditCity" />

@code {
    [Parameter] public int cityId { get; set; }
    CityDTO city = new CityDTO();

    protected async override Task OnParametersSetAsync()
    {
        city = await _httpClient.GetFromJsonAsync<CityDTO>($"https://localhost:44379/Cities/{cityId}");
    }

    async Task EditCity()
    {
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to update {city.Name}'s ({city.Id}) Record?"))
        {
            var response =
            await _httpClient.PutAsJsonAsync($"https://localhost:44379/Cities/{cityId}", city);
            if (response.IsSuccessStatusCode)
            {
                uriHelper.NavigateTo("cities");
            }
            await js.InvokeVoidAsync("alert", await response.Content.ReadAsStringAsync());
        }
    }
}