@page "/discounts/create"

@inject HttpClient _httpClient
@inject NavigationManager uriHelper

<h3>Create</h3>
<DiscountForm ButtonText="Create" discount="@discount"
              OnValidSubmit="@CreateDiscount" />

@code {
	[CascadingParameter]
	public string provider { get; set; }
    DiscountDTO discount = new DiscountDTO();

    async Task CreateDiscount()
    {
        await _httpClient.PostAsJsonAsync($"https://localhost:44445/Discounts?provider={provider}", discount);
        uriHelper.NavigateTo("discounts");
    }
}