@page "/discounts/edit/{discountId:int}"

@inject HttpClient _httpClient
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Update</h3>
<DiscountForm ButtonText="Update" discount="@discount"
      OnValidSubmit="@EditDiscount" />

@code {
	[CascadingParameter]
	public string provider { get; set; }
    [Parameter] public int discountId { get; set; }
    DiscountDTO discount = new DiscountDTO();

    protected async override Task OnParametersSetAsync()
    {
        discount = await _httpClient.GetFromJsonAsync<DiscountDTO>(string.Format(provider, $"Discounts/{discountId}"));
    }

    async Task EditDiscount()
    {
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to update {discount.Name}'s ({discount.Id}) Record?"))
        {
            var response = await _httpClient.PutAsJsonAsync(string.Format(provider, $"Discounts/{discountId}"), discount);
            if (response.IsSuccessStatusCode)
            {
                uriHelper.NavigateTo("discounts");
            }
            else
            {
                await js.InvokeVoidAsync("alert", await response.Content.ReadAsStringAsync());
            }
        }
    }
}