@page "/passdiscounts/create"

@inject HttpClient _httpClient
@inject NavigationManager uriHelper

<h3>Create</h3>
<PassDiscountForm ButtonText="Create" passdiscount="@passdiscount"
                  OnValidSubmit="@CreatePassDiscount" />

@code {
	[CascadingParameter]
	public string provider { get; set; }
    PassDiscountDTO passdiscount = new PassDiscountDTO();

    async Task CreatePassDiscount()
    {
        await _httpClient.PostAsJsonAsync($"https://localhost:44445/PassDiscounts?provider={provider}", passdiscount);
        uriHelper.NavigateTo("passdiscounts");
    }
}
