@page "/passdiscounts/edit/{passdiscountId:int}"

@inject HttpClient _httpClient
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Update</h3>
<PassDiscountForm ButtonText="Update" passdiscount="@passdiscount"
           OnValidSubmit="@EditPassDiscount" />

@code {
	[CascadingParameter]
	public string provider { get; set; }
    [Parameter] public int passdiscountId { get; set; }
    PassDiscountDTO passdiscount = new PassDiscountDTO();

    protected async override Task OnParametersSetAsync()
    {
        passdiscount = await _httpClient.GetFromJsonAsync<PassDiscountDTO>($"https://localhost:44445/PassDiscounts/{passdiscountId}?provider={provider}");
    }

    async Task EditPassDiscount()
    {
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to update record {passdiscount.Id}?"))
        {
            var response = await _httpClient.PutAsJsonAsync($"https://localhost:44445/PassDiscounts/{passdiscountId}?provider={provider}", passdiscount);
            if (response.IsSuccessStatusCode)
            {
                uriHelper.NavigateTo("passdiscounts");
            }
            else
            {
                await js.InvokeVoidAsync("alert", await response.Content.ReadAsStringAsync());
            }
        }
    }
}
