@using System.Threading
@inherits LayoutComponentBase
@inject HttpClient _httpClient
@inject IJSRuntime js
@inject ProviderRefreshService _providerRefresh

<div class="page">
    <div class="sidebar">
        <select @onchange="ProviderChange">
            <option value="http://localhost:44444/server.php/{0}">Php</option>
            <option value="http://localhost:44445/{0}" selected="selected">Node</option>
        </select>
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4">
            <CascadingValue Value="@provider">
                @Body
            </CascadingValue>
        </div>
    </div>
</div>

@code {
    private string provider { get; set; } = "http://localhost:44445/{0}";

    private void ProviderChange(ChangeEventArgs eventArgs) 
    {
        provider = eventArgs.Value.ToString();
        _providerRefresh.CallRequestRefresh();
    }
}