@page "/clients/edit/{clientId:int}"

@inject HttpClient _httpClient
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Update</h3>
<ClientForm ButtonText="Update" city="@client"
      OnValidSubmit="@EditClient" />

@code {
    [Parameter] public int clientId { get; set; }
    ClientDTO client = new ClientDTO();

    protected async override Task OnParametersSetAsync()
    {
        client = await _httpClient.GetFromJsonAsync<ClientDTO>($"https://localhost:44445/Clients/{clientId}");
    }

    async Task EditClient()
    {
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to update {client.FirstName}'s ({client.Id}) Record?"))
        {
            var response = await _httpClient.PutAsJsonAsync($"https://localhost:44445/Cities/{clientId}", client);
            if (response.IsSuccessStatusCode)
            {
                uriHelper.NavigateTo("cities");
            }
            else
            {
                await js.InvokeVoidAsync("alert", await response.Content.ReadAsStringAsync());
            }
        }
    }
}