@page "/clients/create"

@inject HttpClient _httpClient
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Create</h3>
<ClientForm ButtonText="Create" client="@client"
          OnValidSubmit="@CreateClient" />

@code {
	[CascadingParameter]
	public string provider { get; set; }
    ClientDTO client = new ClientDTO();

    async Task CreateClient()
    {
        var response = await _httpClient.PostAsJsonAsync(string.Format(provider, "Clients"), client);
        if (response.IsSuccessStatusCode)
        {
            uriHelper.NavigateTo("clients");
        }
        else await js.InvokeVoidAsync("alert", await response.Content.ReadAsStringAsync());
    }
}