@page "/climates/edit/{climateId:int}"

@inject HttpClient _httpClient
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Update</h3>
<ClimateForm ButtonText="Update" climate="@climate"
      OnValidSubmit="@EditClimate" />

@code {
    [Parameter] public int climateId { get; set; }
    ClimateDTO climate = new ClimateDTO();

    protected async override Task OnParametersSetAsync()
    {
        climate = await _httpClient.GetFromJsonAsync<ClimateDTO>($"https://localhost:44379/Climates/{climateId}");
    }

    async Task EditClimate()
    {
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to update {climate.Name}'s ({climate.Id}) Record?"))
        {
            await _httpClient.PutAsJsonAsync($"https://localhost:44379/Climates/{climateId}", climate);
            await js.InvokeVoidAsync("alert", $"Updated Successfully!");
            uriHelper.NavigateTo("climates");
        }
    }
}