<EditForm Model="@duration" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Time (Weeks):</label>
        <div>
            <InputNumber @bind-Value="@duration.Time" />
        </div>
    </div>
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
    <a class="btn btn-secondary" href="/durations">Back</a>
</EditForm>

@code {
    [Parameter] public DurationDTO duration { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
