@page "/countries/edit/{countryId:int}"

@inject HttpClient _httpClient
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Update</h3>
<CountryForm ButtonText="Update" country="@country"
      OnValidSubmit="@EditCountry" />

@code {
	[CascadingParameter]
	public string provider { get; set; }
    [Parameter] public int countryId { get; set; }
    CountryDTO country = new CountryDTO();

    protected async override Task OnParametersSetAsync()
    {
        country = await _httpClient.GetFromJsonAsync<CountryDTO>(string.Format(provider, $"Countries/{countryId}"));
    }

    async Task EditCountry()
    {
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to update {country.Name}'s ({country.Id}) Record?"))
        {
            var response = await _httpClient.PutAsJsonAsync(string.Format(provider, $"Countries/{countryId}"), country);
            if (response.IsSuccessStatusCode)
            {
                uriHelper.NavigateTo("countries");
            }
            else
            {
                await js.InvokeVoidAsync("alert", await response.Content.ReadAsStringAsync());
            }
        }
    }
}