@page "/countries/create"

@inject HttpClient _httpClient
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Create</h3>
<CountryForm ButtonText="Create" country="@country"
             OnValidSubmit="@CreateCountry" />

@code {
	[CascadingParameter]
	public string provider { get; set; }
    CountryDTO country = new CountryDTO();

    async Task CreateCountry()
    {
        var response = await _httpClient.PostAsJsonAsync(string.Format(provider, "Countries"), country);
        if (response.IsSuccessStatusCode)
        {
            uriHelper.NavigateTo("countries");
        }
        else await js.InvokeVoidAsync("alert", await response.Content.ReadAsStringAsync());
    }
}