@page "/cities/create"

@inject HttpClient _httpClient
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Create</h3>
<CityForm ButtonText="Create" city="@city"
          OnValidSubmit="@CreateCity" />

@code {
    CityDTO city = new CityDTO();

    async Task CreateCity()
    {
        var response = await _httpClient.PostAsJsonAsync("https://localhost:44445/Cities", city);
        if (response.IsSuccessStatusCode)
        {
            uriHelper.NavigateTo("cities");
        }
        else await js.InvokeVoidAsync("alert", await response.Content.ReadAsStringAsync());
    }
}