@page "/clients/create"

@inject HttpClient _httpClient
@inject NavigationManager uriHelper
@inject IJSRuntime js;

<h3>Create</h3>
<ClientForm ButtonText="Create" client="@client"
            OnValidSubmit="@CreateClient" />

@code {
    ClientModel client = new ClientModel();

    async Task CreateClient()
    {
        var channel = GrpcChannel.ForAddress("https://localhost:44805", new GrpcChannelOptions
        {
            HttpHandler = new GrpcWebHandler(new HttpClientHandler())
        });

        var grpcClient = new Client.ClientClient(channel);
        await grpcClient.CreateClientAsync(client);

        uriHelper.NavigateTo("clients");
    }
}