@page "/clients/edit/{clientId:int}"

@inject HttpClient _httpClient
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Update</h3>
<ClientForm ButtonText="Update" client="@client"
            OnValidSubmit="@EditClient" />

@code {
    [Parameter] public int clientId { get; set; }
    ClientModel client = new ClientModel();
    Client.ClientClient _grpcClient { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        var channel = GrpcChannel.ForAddress("https://localhost:44805", new GrpcChannelOptions
        {
            HttpHandler = new GrpcWebHandler(new HttpClientHandler())
        });

        _grpcClient = new ClientGrpcService.Client.ClientClient(channel);

        client = await _grpcClient.GetClientAsync(new IdRequest { Id = clientId});
    }

    async Task EditClient()
    {
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to update {client.FirstName}'s ({client.Id}) Record?"))
        {
            await _grpcClient.UpdateClientAsync(client);

            uriHelper.NavigateTo("clients");
        }
    }
}